@import "tailwindcss";

@theme {
  --color-background: #F9F1F0;
  --color-main: #FADCD9;
  --color-accent: #F8AFA6;
  --font-gilroy: 'Gilroy';
}

*{
  font-family: 'Gilroy';
}


.container {
  padding: 1.5rem;
  border-radius: 1.25rem;
  background-color: var(--color-main);
}

.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #1DB954 transparent; /* Pink thumb, Transparent track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Thin width */
  height: 4px; /* Thin height for horizontal scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1DB954; /* Pink color */
  border-radius: 9999px; /* Fully rounded */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Remove buttons */
}